<div id="intro_xs" class="container fixed-app-size">
  <div class="row">
      <div class="col-xs-12 col-md-12 mac_app_body">
        <div class="upper">
          <div class="buttons">
            <div class="button red">
            </div>
            <div class="button yellow">
            </div>
            <div class="button green">
            </div>
          </div>
          <span class="title">self_portrait.txt</span>
        </div>
        <div class="enter">
          <div class="align_glyph">
          <%= image_tag("face.png", class: "face") %>
          </div>
          <div>
            <h2 class="text-center"> Hello_World! </h2>
            <p class="text-center"> I'm a full stack web developer; I design and  develop responsive and dynamic websites. Keep scrolling to learn more  about me. </p>
            <div class="align_glyph">
              <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
              <a href="https://github.com/cubadomingo"><%= image_tag("github.png",  class: "glyph_size") %></a>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

<div id="intro_and_bash" class="container fixed-app-size">
  <div class="row">
    <div class="col-sm-6 col-md-6 no-padding-left">
      <div class="col-xs-12 mac_app_body">
        <div class="upper">
          <div class="buttons">
            <div class="button red">
            </div>
            <div class="button yellow">
            </div>
            <div class="button green">
            </div>
          </div>
          <span class="title">self_portrait.txt</span>
        </div>
        <div class="enter">
          <div class="align_glyph">
          <%= image_tag("face.png", class: "face") %>
          </div>
          <div id="description_xs">
            <h2 class="text-center"> Hello_World! </h2>
            <p class="text-center"> I'm a full stack web developer; I design and  develop responsive and dynamic websites. Keep scrolling to learn more  about me. </p>
            <div class="align_glyph">
              <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
              <a href="https://github.com/cubadomingo"><%= image_tag("github.png",  class: "glyph_size") %></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-6 intro_and_time no-padding-right">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mac_app_body intro-margin">
          <div class="upper">
            <div class="buttons">
              <div class="button red">
              </div>
              <div class="button yellow">
              </div>
              <div class="button green">
              </div>
            </div>
            <span class="title">introduction.txt</span>
          </div>
          <div class="enter">
            <div class="align_glyph">
            </div>
            <h2 class="text-center"> Hello_World! </h2>
            <p class="text-center"> I'm a full stack web developer; I design and   develop responsive and dynamic websites. Keep scrolling to learn more   about me. </p>
            <div class="align_glyph">
              <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
              <a href="https://github.com/cubadomingo"><%= image_tag("github.png",   class: "glyph_size") %></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mac_app_body no-padding-right">
          <div class="upper">
            <div class="buttons">
              <div class="button red">
              </div>
              <div class="button yellow">
              </div>
              <div class="button green">
              </div>
            </div>
            <span class="title">-bash</span>
          </div>
          <div id="ip-m" class="enter">
            <div class="terminal_prompt">
              <span class="p_symbol">[</span><span class="t_symbol">[terminal]: ~$</span><span class="p_symbol"> ruby date.rb</span>
            </div>
            <p>Hey, today is <%= Time.now.strftime("%m/%d/%Y")%>. It is about <%= I18n.l Time.now, :format => "%H %p", :locale => :"en"%>. Your IP address is <%= @ip %> and you're using a <%= get_operating_system %> computer. Cool!</p>
            <div class="terminal_prompt">
              <span class="p_symbol">[</span><span class="t_symbol cursor">[terminal]: ~$</span>
            </div>
          </div>
          <div id="ip-l" class="enter">
            <div class="terminal_prompt">
              <span class="p_symbol">[</span><span class="t_symbol">[terminal]: ~$</span><span class="p_symbol"> ruby date.rb</span>
            </div>
            <p>Hey, today is <%= Time.now.strftime("%A")%>, <%= Time.now.strftime("%B %d")%>, <%= Date.today.year%>. It is about <%= I18n.l Time.now, :format => "%H:%M %p", :locale => :"en"%>.</p>
            <p>Your IP address is <%= @ip %> and you're using a <%= get_operating_system %> computer. Cool!</p>
            <% if get_operating_system == "MacOS" %>
              <p> That's awesome I also use a Mac and love it. It's useful for all my programming needs... I should also mention I'm a huge Apple fan boy. You hear that Apple? My email is down the page if you want to send me anything for the free advertising!</p>
            <% elsif get_operating_system == "Linux" %>
              <p> I don't have a real Linux computer so to speak, just a Raspberry Pi but I am a pretty big fan of Ubuntu and Unix in general. I'm debating on getting a small personal computer from craigslist and installing Ubuntu on it just to mess around with.</p>
            <% else get_operating_system == "Windows" %>
              <p> Not going to lie... I'm not a huge fan of your operating system. I tried running it on my Mac with bootcamp since there's some software that will only run on Windows (I'm talking about you SolidWorks!), but I removed it after a week; I just can't get used to the UI.</p>
            <% end %>
            <div class="terminal_prompt">
              <span class="p_symbol">[</span><span class="t_symbol cursor">[terminal]: ~$</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'static_pages/about' %>

<%= render 'static_pages/skills' %>

<%= render 'static_pages/projects' %>

<%= render 'static_pages/contact' %>




