<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">introduction.txt</span>
      </div>
      <div class="enter">
        <div class="align_glyph">
        <%= image_tag("face.png", class: "face") %>
        </div>
        <h2 class="text-center"> Hello_World! </h2>
        <p class="text-center"> I'm a full stack web developer; I design and develop responsive and dynamic websites. Keep scrolling to learn more about me. </p>
        <div class="align_glyph">
          <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
          <a href="https://github.com/cubadomingo"><%= image_tag("github.png", class: "glyph_size") %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'static_pages/about' %>

<%= render 'static_pages/skills' %>

<%= render 'static_pages/projects' %>

<%= render 'static_pages/contact' %>




