<div class="container-fluid page_height">
  <div class="row no_padding">
    <div class="col-xs-12 center text_edit2">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">introduction.txt</span>
      </div>
      <div class="enter">
        <div class="align_glyph">
        <%= image_tag("face.png", class: "face") %>
        </div>
        <h2> Hello_World! </h2>
        <h3> I'm a full stack web developer; I design and develop responsive and dynamic websites. Keep scrolling to learn more about me. </h3>
        <div class="align_glyph">
          <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
          <a href="https://github.com/cubadomingo"><%= image_tag("github.png", class: "glyph_size") %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'static_pages/about' %>

<%= render 'static_pages/stack' %>

<%= render 'static_pages/projects' %>

<%= render 'static_pages/contact' %>



