<div class="container-fluid resize_mac_app container-margin">
  <div class="row">
    <div class="col-xs-12 col-md-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
          <span class="title">log_in</span>
        </div>
      </div>
      <div class="enter">
        <div id="session">
          <%= form_for(:session, url: login_path) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <div class="text-center">
            <%= f.label :remember_me, class: 'checkbox inline' do %>
            <%= f.check_box :remember_me %>
            <span>Remember me</span>
            <% end %>
            <%= f.submit "log in", class: 'btn btn-primary' %>
          </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
