<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">update_your_profile</span>
      </div>
      <div class="enter">
          <div>
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages' %>

              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <div class="text-center button-margin">
              <%= f.submit "Save changes", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
