<div class="container-fluid">
  <div class="row no_padding post_margin">
    <div class="col-xs-12 categories_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
      </div>
      <div class="enter">
        <h2>create_a_post</h2>
          <div>
            <%= form_for(@post) do |f| %>
              <%= render 'shared/error_messages1' %>

              <%= f.label :title %>
              <%= f.text_area :title, class: 'form-control' %>

              <%= f.label :body %>
              <%= f.text_area :body, class: 'form-control body_field' %>

              <%= f.label :category %>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => "Please select a category"}) %>

              <div class="text-center button-margin">
              <%= f.submit "Create new post", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

