<div class="container-fluid fixed-app-size">
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
          <span class="title">new_post</span>
        </div>
      </div>
      <div class="enter">
          <div>
            <%= form_for(@post) do |f| %>
              <%= render 'shared/error_messages1' %>

              <%= f.label :title %>
              <%= f.text_area :title, class: 'form-control' %>

              <%= f.label :body %>
              <%= f.text_area :body, class: 'form-control body_field' %>

              <%= f.label :category %>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => "Please select a category"}, {:class => "form-control"}) %>
              <div class="text-center">
              <%= f.submit "Create new post", class: 'btn btn-primary button-margin' %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>


