<div class="container-fluid">
  <div class="row no_padding post_margin">
    <div class="col-xs-12 categories_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
      </div>
      <div class="enter">
        <h2>create_a_new_category</h2>
          <div>
            <%= form_for(@category) do |f| %>
              <% if @category.errors.any? %>
                <div class="error_explanation">
                <div class="alert alert-danger"> The form contains <%= pluralize(@category.errors.count, "error") %>.
                </div>
                <ul>
                  <% @category.errors.full_messages.each do |msg| %>.
                    <li><%= msg %></li>
                  <% end %>
                </ul>
                </div>
              <% end %>

              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <div class="text-center buttons_top_margin">
              <%= f.submit "Create new category", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
