<!DOCTYPE html>
<html>
<head>
  <title>Devin Osorio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Hey I'm Devin! I'm a full-stack software engineer currently living in Washington D.C. My stack of choice is ReactJS, Ruby on Rails, and PostgreSQL." />
  <%= favicon_link_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
